:root {
    --text-color: #727272;
    --menu-text-color: #a2cbff;
    --link-color: rgb(55, 123, 225);
    --hover-color: hsl(241, 100%, 50%);
  }
  a {
    transition-duration:0.3s;
    color: var(--link-color);
    font-weight: bold;
  }
  
  a:hover {
    color:var(--hover-color);
    font-weight: bold;
  }

  div.navbar a {
    width: calc(50% - 32px);
    float: left;
    font-weight: bold;
    font-size: 16px;
    color: var(--menu-text-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  div.navbar a:hover {
    font-weight: bold;
    color: white;
  }

  .navbar {
    margin-top: 2em;
    width: 100%;
    overflow: hidden;
    background-color: var(--hover-color);
    font-family: Arial;
  }